# Predict the area burned by forest fire in Portugal's North East Region

## Fetching Data

In [1]:
import pandas as pd
df_forest = pd.read_csv("forestfires.csv")
df_forest[100:200]

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
100  3  4   aug  sun  91.4  142.4  601.4  10.6  19.8  39   5.4   0.0   0.00
101  3  4   aug  tue  88.8  147.3  614.5   9.0  14.4  66   5.4   0.0   0.00
102  2  4   aug  tue  94.8  108.3  647.1  17.0  20.1  40   4.0   0.0   0.00
103  2  4   sep  sat  92.5  121.1  674.4   8.6  24.1  29   4.5   0.0   0.00
104  2  4   jan  sat  82.1    3.7    9.3   2.9   5.3  78   3.1   0.0   0.00
105  4  5   mar  fri  85.9   19.5   57.3   2.8  12.7  52   6.3   0.0   0.00
106  4  5   mar  thu  91.4   30.7   74.3   7.5  18.2  29   3.1   0.0   0.00
107  4  5   aug  sun  90.2   99.6  631.2   6.3  21.4  33   3.1   0.0   0.00
108  4  5   sep  sat  92.5   88.0  698.6   7.1  20.3  45   3.1   0.0   0.00
109  4  5   sep  mon  88.6   91.8  709.9   7.1  17.4  56   5.4   0.0   0.00
110  4  4   mar  fri  85.9   19.5   57.3   2.8  13.7  43   5.8   0.0   0.00
111  3  4   mar  fri  91.7   33.3   77.5   9.0  18.8  18   4.5   0.0   0.00
112  3  4   sep  sun  89.7   90.0  704.4   4.8  22.8  39   3.6   0.0   0.00
113  3  4   sep  mon  91.8   78.5  724.3   9.2  18.9  35   2.7   0.0   0.00
114  3  4   mar  tue  88.1   25.7   67.6   3.8  15.8  27   7.6   0.0   0.00
115  3  5   mar  tue  88.1   25.7   67.6   3.8  15.5  27   6.3   0.0   0.00
116  3  4   mar  sat  91.7   35.8   80.8   7.8  11.6  30   6.3   0.0   0.00
117  3  4   mar  sat  91.7   35.8   80.8   7.8  15.2  27   4.9   0.0   0.00
118  3  4   mar  mon  90.1   39.7   86.6   6.2  10.6  30   4.0   0.0   0.00
119  3  4   aug  thu  93.0   75.3  466.6   7.7  19.6  36   3.1   0.0   0.00
120  3  4   aug  mon  91.5  145.4  608.2  10.7  10.3  74   2.2   0.0   0.00
121  3  4   aug  mon  91.5  145.4  608.2  10.7  17.1  43   5.4   0.0   0.00
122  3  4   sep  sun  92.4  124.1  680.7   8.5  22.5  42   5.4   0.0   0.00
123  3  4   sep  tue  84.4   73.4  671.9   3.2  17.9  45   3.1   0.0   0.00
124  3  4   sep  fri  94.3   85.1  692.3  15.9  19.8  50   5.4   0.0   0.00
125  3  4   oct  sun  92.6   46.5  691.8   8.8  20.6  24   5.4   0.0   0.00
126  3  5   mar  mon  87.6   52.2  103.8   5.0   9.0  49   2.2   0.0   0.00
127  3  5   sep  fri  93.5  149.3  728.6   8.1  17.2  43   3.1   0.0   0.00
128  3  5   oct  wed  91.4   37.9  673.8   5.2  15.9  46   3.6   0.0   0.00
129  2  5   oct  sun  92.6   46.5  691.8   8.8  15.4  35   0.9   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
170  5  4   sep  wed  92.9  133.3  699.6   9.2  21.9  35   1.8   0.0   2.57
171  8  6   aug  wed  85.6   90.4  609.6   6.6  17.4  50   4.0   0.0   2.69
172  7  4   aug  sun  91.4  142.4  601.4  10.6  20.1  39   5.4   0.0   2.74
173  4  4   sep  mon  90.9  126.5  686.5   7.0  17.7  39   2.2   0.0   3.07
174  1  4   aug  sat  90.2   96.9  624.2   8.9  14.2  53   1.8   0.0   3.50
175  1  4   aug  sat  90.2   96.9  624.2   8.9  20.3  39   4.9   0.0   4.53
176  6  5   apr  thu  81.5    9.1   55.2   2.7   5.8  54   5.8   0.0   4.61
177  2  5   aug  sun  90.2   99.6  631.2   6.3  19.2  44   2.7   0.0   4.69
178  2  5   sep  wed  90.1   82.9  735.7   6.2  18.3  45   2.2   0.0   4.88
179  8  6   aug  tue  88.8  147.3  614.5   9.0  14.4  66   5.4   0.0   5.23
180  1  3   sep  sun  92.4  124.1  680.7   8.5  23.9  32   6.7   0.0   5.33
181  8  6   oct  mon  84.9   32.8  664.2   3.0  19.1  32   4.0   0.0   5.44
182  5  4   feb  sun  86.8   15.6   48.3   3.9  12.4  53   2.2   0.0   6.38
183  7  4   oct  mon  91.7   48.5  696.1  11.1  16.8  45   4.5   0.0   6.83
184  8  6   aug  fri  93.9  135.7  586.7  15.1  20.8  34   4.9   0.0   6.96
185  2  5   sep  tue  91.0  129.5  692.6   7.0  17.6  46   3.1   0.0   7.04
186  8  6   mar  sun  89.3   51.3  102.2   9.6  11.5  39   5.8   0.0   7.19
187  1  5   sep  mon  90.9  126.5  686.5   7.0  21.0  42   2.2   0.0   7.30
188  6  4   mar  sat  90.8   41.9   89.4   7.9  13.3  42   0.9   0.0   7.40
189  7  4   mar  sun  90.7   44.0   92.4   5.5  11.5  60   4.0   0.0   8.24
190  6  5   mar  fri  91.2   48.3   97.8  12.5  11.7  33   4.0   0.0   8.31
191  2  5   aug  thu  95.2  131.7  578.8  10.4  24.2  28   2.7   0.0   8.68
192  2  2   aug  tue  94.8  108.3  647.1  17.0  24.6  22   4.5   0.0   8.71
193  4  5   sep  wed  92.9  133.3  699.6   9.2  24.3  25   4.0   0.0   9.41
194  2  2   aug  tue  94.8  108.3  647.1  17.0  24.6  22   4.5   0.0  10.01
195  2  5   aug  fri  93.9  135.7  586.7  15.1  23.5  36   5.4   0.0  10.02
196  6  5   apr  thu  81.5    9.1   55.2   2.7   5.8  54   5.8   0.0  10.93
197  4  5   sep  thu  92.9  137.0  706.4   9.2  21.5  15   0.9   0.0  11.06
198  3  4   sep  tue  91.0  129.5  692.6   7.0  13.9  59   6.3   0.0  11.24
199  2  4   sep  mon  63.5   70.8  665.3   0.8  22.6  38   3.6   0.0  11.32

[100 rows x 13 columns]

In [2]:
#Month and day are in text but for our linear regression model, we want to convert these to numerical models

## One Hot Encoding to convert categorical days into 7 different columns with numerical values

In [3]:
#pandas get_dummies method performs one-hot encoding for us

In [4]:
df_forest = pd.get_dummies(df_forest)

In [5]:
df_forest.head(5)

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,month_nov,month_oct,month_sep,day_fri,day_mon,day_sat,day_sun,day_thu,day_tue,day_wed
0,7,5,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,1,0,0,0,0,0,0
1,7,4,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,1,0,0,0,0,0,0,1,0
2,7,4,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,1,0,0,0,1,0,0,0,0
3,8,6,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,1,0,0,0,0,0,0
4,8,6,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,0,0,1,0,0,0

In [6]:
#We can see the new columns created for month and day as those were categorical variables

## Removing MultiCollinearity from the dataset

In [7]:
# Ex- At a time only 1 day can have fire out of 7 and hence we just need 6 columns to predict the day

In [8]:
#Remove any one month and any one day

In [9]:
df_forest.drop(labels=['month_mar', 'day_fri'], axis=1, inplace=True)

In [10]:
#Checking range of each column

In [11]:
df_forest.max() - df_forest.min()

X               8.00
Y               7.00
FFMC           77.50
DMC           290.20
DC            852.70
ISI            56.10
temp           31.10
RH             85.00
wind            9.00
rain            6.40
area         1090.84
month_apr       1.00
month_aug       1.00
month_dec       1.00
month_feb       1.00
month_jan       1.00
month_jul       1.00
month_jun       1.00
month_may       1.00
month_nov       1.00
month_oct       1.00
month_sep       1.00
day_mon         1.00
day_sat         1.00
day_sun         1.00
day_thu         1.00
day_tue         1.00
day_wed         1.00
dtype: float64

In [12]:
#We see the variance is high for fields like area,DC , DMC while many has variance of just 1

## We can Scale Data to make variance uniform

In [13]:
#Linear Regression can handle variance but it is good practice to make data Normalized and standardized

### Scaling is helpful when we perform Gradient Descent or Regularization on our Data

In [14]:
#Not scaling data for sake of simplicity, will show it later

## Dividing features and target Value in the dataset

In [15]:
from sklearn.linear_model import LinearRegression

forest_features = df_forest.copy()
target_value = forest_features.pop('area')

forest_features.columns

Index(['X', 'Y', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain',
       'month_apr', 'month_aug', 'month_dec', 'month_feb', 'month_jan',
       'month_jul', 'month_jun', 'month_may', 'month_nov', 'month_oct',
       'month_sep', 'day_mon', 'day_sat', 'day_sun', 'day_thu', 'day_tue',
       'day_wed'],
      dtype='object')

## Fitting Linear Regression Model to features and prediction Value

In [16]:
lr = LinearRegression(fit_intercept=True)
lr.fit(forest_features, target_value)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

## Calculating RMSE for the Model to get the Cost function

In [17]:
from sklearn.metrics import mean_squared_error
import numpy as np
# R^2
print(lr.score(forest_features, target_value))

0.0457820965080854

In [18]:
predictions = lr.predict(forest_features)
mse = mean_squared_error(target_value, predictions)
rmse = np.sqrt(mse)
print(rmse)

62.12143311792723

In [19]:
# Low r square values shows that model target value - > area has some huge outliers which have skewed the model 
# R-squared is fairly straight-forward; it is the percentage of the response variable variation that is explained by a linear model

In [20]:
#RMSE here tells the average error or average difference between predicted value and actual value

## RMSE should go towards 0 and R^2 should approach 1 for Model to be good

# Why this Model performed poorly?

In [21]:
# It does because it is just like a lookup table where it takes a setup of input and tries to look for nearby output and gives result from all our data

#### Never train and test the model on same data as it will either print incredible results or poor results but it is of no use as it is like a lookup rather than a prediction

#### The error produced in our model is called training error or in-sample error

### Finding Out-Sample error which will complete our model evaluation, it is calculated from the model performance on a data it hasn't seen before

### Splitting data into Training and Test to calculate Out-Sample Error using train_test_split of sklearn, I have kept test_size as 30% but usually we take it as 20-30%

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(forest_features, target_value, shuffle=True,
                                                    test_size=0.5, random_state=49)

### Fitting our Linear Regression Model on Training Data

In [23]:
lr_split = LinearRegression(fit_intercept=True)
lr_split.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

### Calculating ISE - In-Sample Error

In [24]:
#On training data
def calc_ISE(X_train, y_train, model):
    '''returns the in-sample R^2 and RMSE; assumes model already fit.'''
    predictions = model.predict(X_train)
    mse = mean_squared_error(y_train, predictions)
    rmse = np.sqrt(mse)
    return model.score(X_train, y_train), rmse
    
#Returns R^2 and RMSE

###  Calculating OSE - Out-Sample Error

In [25]:
#on Test Data
def calc_OSE(X_test, y_test, model):
    '''returns the out-of-sample R^2 and RMSE; assumes model already fit.'''
    predictions = model.predict(X_test)
    mse = mean_squared_error(y_test, predictions)
    rmse = np.sqrt(mse)
    return model.score(X_test, y_test), rmse

In [26]:
#Getting R^2 Value and RMSE value for ISE and OSE

In [27]:
is_r2, ise = calc_ISE(X_train, y_train, lr_split)
os_r2, ose = calc_OSE(X_test, y_test, lr_split)

# show dataset sizes
data_list = (('R^2_in', is_r2), ('R^2_out', os_r2), 
             ('RMSE - ISE', ise), ('RMSE - OSE', ose))
for item in data_list:
    print('{:10}: {}'.format(item[0], item[1]))

R^2_in    : 0.07513974961762826
R^2_out   : -0.0049016045920677875
RMSE - ISE: 24.75445904929311
RMSE - OSE: 86.02373054123044

In [28]:
# Here R^2 for OSE is lower than R^2 for ISE meaning variance is higher while prediciting test data

In [29]:
#Also, RMSE for test data is twice as compared to RMSE for training data

## These 4 values shows that there is overfitting of data

#### The greater the gap between training and test error, more the overfitting

### How to avoid Overfitting now?  Answer is given by Bias-Variance Tradeoff

### Mostly test error would be greater than train error and if it is not the case then there is something fishy with the data and needs immediate focus

In [30]:
#Splitting of data also affects the change in test and train errors and we need to pickup the best split

### The best split is picked up using train/test split in small-mid datasets and using Cross-Validation in mid- large Datasets

In [31]:
# Picking up four features to check RMSE and R^2 value change too see if we are going away from Overfitting

In [95]:
forest_features = df_forest.copy()
target_value = forest_features.pop('area')

forest_features.columns

Index(['X', 'Y', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain',
       'month_apr', 'month_aug', 'month_dec', 'month_feb', 'month_jan',
       'month_jul', 'month_jun', 'month_may', 'month_nov', 'month_oct',
       'month_sep', 'day_mon', 'day_sat', 'day_sun', 'day_thu', 'day_tue',
       'day_wed'],
      dtype='object')

In [96]:
# keeping rain, wind, RH and temp

In [97]:
forest_features_new = forest_features[['RH', 'wind', 'ISI', 'rain']]
forest_features_new.head()

   RH  wind  ISI  rain
0  51   6.7  5.1   0.0
1  33   0.9  6.7   0.0
2  33   1.3  6.7   0.0
3  97   4.0  9.0   0.2
4  99   1.8  9.6   0.0

In [98]:
#fitting linear model to new features and target value

In [99]:
X_train, X_test, y_train, y_test = train_test_split(forest_features_new, target_value, shuffle=True,
                                                    test_size=0.5, random_state=49)

In [100]:
lr_split = LinearRegression(fit_intercept=True)
lr_split.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [101]:
is_r2, ise = calc_ISE(X_train, y_train, lr_split)
os_r2, ose = calc_OSE(X_test, y_test, lr_split)

# show dataset sizes
data_list = (('R^2_in', is_r2), ('R^2_out', os_r2), 
             ('RMSE - ISE', ise), ('RMSE - OSE', ose))
for item in data_list:
    print('{:10}: {}'.format(item[0], item[1]))

R^2_in    : 0.0016200563713708593
R^2_out   : -0.01114972529073821
RMSE - ISE: 25.719546528513177
RMSE - OSE: 86.29074860599145

In [102]:
# very minute difference in RMSE value but R^2 has increased considerably showing that we are moving in the right direction.

In [103]:
# The problem here is that data is less and maybe not highly dependent on features!

## Considering Boston Dataset to understand overfitting and Bias-Variance Tradeoff

In [104]:
#Taking up a better dataset
from sklearn.datasets import load_boston
boston = load_boston()
data = boston.data
target = boston.target

In [105]:
#Splitting data into train and test for fitting and prediction

In [139]:
data
target

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [106]:
# train/test split
X_train, X_test, y_train, y_test = train_test_split(data, 
                                                    target, 
                                                    shuffle=True,
                                                    test_size=0.2, 
                                                    random_state=15)

### Creating Methods for returning Training and Test Error

In [107]:
#cALCULATES Training Error
def calc_train_error(X_train, y_train, model):
    '''returns in-sample error for already fit model.'''
    predictions = model.predict(X_train)
    mse = mean_squared_error(y_train, predictions)
    rmse = np.sqrt(mse)
    return mse
#CALCULATES Test Error and named it as validation error    
def calc_validation_error(X_test, y_test, model):
    '''returns out-of-sample error for already fit model.'''
    predictions = model.predict(X_test)
    mse = mean_squared_error(y_test, predictions)
    rmse = np.sqrt(mse)
    return mse
    
#Return test and validation erro
def calc_metrics(X_train, y_train, X_test, y_test, model):
    '''fits model and returns the RMSE for in-sample error and out-of-sample error'''
    model.fit(X_train, y_train)
    train_error = calc_train_error(X_train, y_train, model)
    validation_error = calc_validation_error(X_test, y_test, model)
    return train_error, validation_error

### Bias Variance Tradeoff

#### Comparing training error not only with test error but with validation error to generalize the model better and avoid overfitting

### The model can lie in three regions of bias variance curve
#### 1. High Bias - Underfitting
#### 2. High Variance - Overfitting
#### 3. Goldilocks Region between above 2 - Perfect

In [108]:
lr = LinearRegression(fit_intercept=True)

train_error, test_error = calc_metrics(X_train, y_train, X_test, y_test, lr)
train_error, test_error = round(train_error, 3), round(test_error, 3)

print('train error: {} | test error: {}'.format(train_error, test_error))
print('train/test: {}'.format(round(test_error/train_error, 1)))

train error: 21.874 | test error: 23.817
train/test: 1.1

In [109]:
# Train/test is almost 1.1 and we need to achieve train/test = 1 to achieve the low bias and low variance zone which we wouldn't overfit our model

In [110]:
# Don't try removing features here as we don't want to tailor our train data based on test data. Never do that!

### Things that add complexity to a model are: 
#### 1. additional features 
#### 2. increasing polynomial terms
#### 3. increasing the depth for tree-based models.

In [111]:
#Creation of training, validation and test dataset to reach train/test score of 1

#### Adding a validation set to understand model performance better and remove overfitting

In [112]:
# intermediate/test split (gives us test set)
X_intermediate, X_test, y_intermediate, y_test = train_test_split(data, 
                                                                  target, 
                                                                  shuffle=True,
                                                                  test_size=0.2, 
                                                                  random_state=15)

X_train, X_validation, y_train, y_validation = train_test_split(X_intermediate,
                                                                y_intermediate,
                                                                shuffle=False,
                                                                test_size=0.25,
                                                                random_state=2018)

In [113]:
# delete intermediate variables
del X_intermediate, y_intermediate

# print proportions
print('train: {}% | validation: {}% | test {}%'.format(round(len(y_train)/len(target),2),
                                                       round(len(y_validation)/len(target),2),
                                                       round(len(y_test)/len(target),2)))

train: 0.6% | validation: 0.2% | test 0.2%

### Decreasing model Complexity by Model Tuning

#### Adding Regularization to reduce complexity in a high variance model and add bias to it, that means adding weights to the features to understand their importance while predicting results, this means of adding weights is called regularization and is achieved by adding a variable called alpha or lambda which optimizes our model on certain values

In [114]:
alpha_values = [0.001, 0.01, 0.1, 1, 10, 100, 1000]

In [115]:
print('RMSE Errors')

RMSE Errors

### Adding L2 type regularization or Ridge Regularization while fitting our model, L2 type Regularization considers all the features and give them weights based on their importance

In [116]:
from sklearn.linear_model import Ridge
for alpha in alpha_values:
    # instantiate and fit model
    ridge = Ridge(alpha=alpha, fit_intercept=True, random_state=99)
    ridge.fit(X_train, y_train)
    new_train_error = mean_squared_error(y_train, ridge.predict(X_train))
    new_validation_error = mean_squared_error(y_validation, ridge.predict(X_validation))
    new_test_error = mean_squared_error(y_test, ridge.predict(X_test))
    # print errors as report
    print('alpha: {:5} | train error: {:5} | validation error: {:6} | test error: {}'.
          format(alpha,
                 round(new_train_error,3),
                 round(new_validation_error,3),
                 round(new_test_error,3)))

alpha: 0.001 | train error: 22.93 | validation error: 19.796 | test error: 23.959
alpha:  0.01 | train error: 22.93 | validation error: 19.792 | test error: 23.944
alpha:   0.1 | train error: 22.945 | validation error: 19.779 | test error: 23.818
alpha:     1 | train error: 23.324 | validation error: 20.135 | test error: 23.522
alpha:    10 | train error: 24.214 | validation error: 20.958 | test error: 23.356
alpha:   100 | train error: 26.108 | validation error: 21.171 | test error: 24.182
alpha:  1000 | train error: 31.311 | validation error: 23.303 | test error: 27.419

In [117]:
#Calculating errors after adding ridge regularization

In [118]:
#Tune our Model with best alpha and see errors in test

In [119]:
# train/test split
X_train, X_test, y_train, y_test = train_test_split(data, 
                                                    target, 
                                                    shuffle=True,
                                                    test_size=0.2, 
                                                    random_state=15)

In [120]:
# instantiate model
ridge = Ridge(alpha=0.11, fit_intercept=True, random_state=99)

In [121]:
# fit and calculate errors
new_train_error, new_test_error = calc_metrics(X_train, y_train, X_test, y_test, ridge)
new_train_error, new_test_error = round(new_train_error, 3), round(new_test_error, 3)

In [122]:
print('ORIGINAL ERROR')
print('-' * 50)
print('train error: {} | test error: {}\n'.format(train_error, test_error))
print('ERROR with REGULARIZATION')
print('-' * 50)
print('train error: {} | test error: {}'.format(new_train_error, new_test_error))

ORIGINAL ERROR
--------------------------------------------------
train error: 21.874 | test error: 23.817

ERROR with REGULARIZATION
--------------------------------------------------
train error: 21.883 | test error: 23.673

In [123]:
#Difference between Training Error and Testing Error decreases by adding Ridge Regularization

### To further decrease the test error and improve generalization performance, we can introduce Cross Validation

#### In cross validation, instead of having one round of training and validation set, we can have multiple rounds of dividing dataset into training and validation set by fixing value of a constant K. It is called K-Fold Cross Validation. This technique is usually done for small-medium size datasets. As Dataset becomes large, value of K is decrease usually

In [124]:
#If K is taken 3, then RMSE of validation set is calculated for all the 3 values of k and ultimately we take average of all
#the three RMSE to get our final accuracy

### Cross validation first way - Cross Value Score 
### Cross Validation second way - K-Folds
#### Regularization way used now - LASSO (L1 type Regularization)

In [125]:
#Calculating cross validation score

In [126]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Lasso
alphas = [0.0001, 0.001, 0.01, 0.1, 1, 10,100]

val_errors = []
for alpha in alphas:
    lasso = Lasso(alpha=alpha, fit_intercept=True, random_state=99)
    errors = np.sum(-cross_val_score(lasso, 
                                     data, 
                                     y=target, 
                                     scoring='neg_mean_squared_error', 
                                     cv=10, 
                                     n_jobs=-1))
    val_errors.append(np.sqrt(errors))

In [127]:
# RMSE
print(val_errors)

[18.644013799818683, 18.636528438323772, 18.57805747159656, 18.503285318281634, 18.56558613074231, 21.412874355105995, 26.94578828222471]

### Finding best alpha value which gives lowerst validation error

In [128]:
print('best alpha: {}'.format(alphas[np.argmin(val_errors)]))

best alpha: 0.1

### Using K-Fold validation instead of Cross_Value way

In [129]:
from sklearn.model_selection import KFold

K = 10
kf = KFold(n_splits=K, shuffle=True, random_state=42)

for alpha in alphas:
    train_errors = []
    validation_errors = []
    for train_index, val_index in kf.split(data, target):
        
     
         # split data
        X_train1, X_val1 = data[train_index], data[val_index]
        y_train1, y_val1 = target[train_index], target[val_index]

        # instantiate model
        lasso = Lasso(alpha=alpha, fit_intercept=True, random_state=77)
        
        #calculate errors
        train_error1, val_error1 = calc_metrics(X_train1, y_train1, X_val1, y_val1, lasso)
        
        # append to appropriate list
        train_errors.append(train_error1)
        validation_errors.append(val_error1)
    
    # generate report
    print('alpha: {:6} | mean(train_error): {:7} | mean(val_error): {}'.
          format(alpha,
                 round(np.mean(train_errors),4),
                 round(np.mean(validation_errors),4)))

alpha: 0.0001 | mean(train_error): 21.8217 | mean(val_error): 23.3633
alpha:  0.001 | mean(train_error): 21.8221 | mean(val_error): 23.3647
alpha:   0.01 | mean(train_error): 21.8583 | mean(val_error): 23.4126
alpha:    0.1 | mean(train_error): 22.9727 | mean(val_error): 24.6014
alpha:      1 | mean(train_error): 26.7371 | mean(val_error): 28.236
alpha:     10 | mean(train_error):  40.183 | mean(val_error): 40.9859
alpha:    100 | mean(train_error): 65.4025 | mean(val_error): 66.0194

### Here training was more as compared to Cross Value Score and for alpha 10 here, we got train error of 41 and for 100, 66.4025, too high

### I will test my model with Lasso Regularization and Cross value Score considering alpha as 0.1 where validation error was lowest and let us see how it behaves

In [130]:
#instantiating model

In [131]:
lasso = Lasso(alpha=0.1, fit_intercept=True, random_state=99)

In [133]:
# fit and calculate errors
new_train_error1, new_test_error1 = calc_metrics(X_train1, y_train1, X_test, y_test, lasso)
new_train_error1, new_test_error1 = round(new_train_error1, 3), round(new_test_error1, 3)

In [147]:
print('ORIGINAL ERROR')
print('-' * 50)
print('train error: {} | test error: {}\n'.format(train_error, test_error))
print('ERROR with RIDGE REGULARIZATION')
print('-' * 50)
print('train error: {} | test error: {}\n'.format(new_train_error, new_test_error))
print('ERROR with LASSO REGULARIZATION')
print('-' * 50)
print('train error: {} | test error: {}'.format(new_train_error1, new_test_error1))

ORIGINAL ERROR
--------------------------------------------------
train error: 21.874 | test error: 23.817

ERROR with RIDGE REGULARIZATION
--------------------------------------------------
train error: 21.883 | test error: 23.673

ERROR with LASSO REGULARIZATION
--------------------------------------------------
train error: 22.591 | test error: 19.975

In [148]:
#Train to Test Score seems awesome for the Lasso Regularization and Cross Value Score Validation

In [149]:
round(new_test_error1/new_train_error1, ndigits=1)

0.9

### Woah "from 1.1 to 0.9" , great work!